html {
    background: #111835;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.header {
    margin-bottom: 5px;
    padding: 5px 0;
    color: #424242;
    font-size: 20px;
    background-color: #11183575;
}

.body-content {
    padding: 0;
    margin: 0 auto;
}

.container {
    background: #111835;
}

.content {
    margin: 0 auto;
    width: 970px;
    font-size: 20px;
    color: #adb4c4;
    line-height: 1.8;
    padding: 50px;
}

.content.article-content {
    text-align: justify;
    font-size: 20px;
    color: #adb4c4;
    line-height: 1.8;
    padding: 200px 50px 50px 50px;
}

footer > .content {
    width: 970px;
    padding: 30px 0;
}

.featured-content {
    padding: 0;
    margin: 0 auto;
    background: #fafafa;
}

.featured-content > .content {
    padding: 50px 0;
    width: 1400px;
}

.featured-content .index-highlight {
    display: inline-block;
    width: 700px;
    height: 300px;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
    border-radius: 2px;
    vertical-align: top;
    
    background: #ffffff;
}

.featured-content .index-highlight a {
    padding-top: 204px;
    display: block;
}

.featured-content .index-highlight a span {
    background: rgba(255, 255, 255, 0.75);
    padding: 30px;
    display: block;
}

.featured-content .index-highlight-small {
    background: #ffffff;
    display: inline-block;
    width: 230px;
    height: 240px;
    float: none;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
    margin-left: 24px;
    border-radius: 2px;
    vertical-align: top;
    padding: 30px;
}

.featured-content .index-highlight-small a {
    padding-top: 150px;
    display: inline-block;
}

.featured-content .index-highlight-small:hover, .featured-content .index-highlight:hover {
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.11);
}

.nav {
    padding: 0;
    margin: 0 auto;
    width: 970px;
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            padding: 19.5px 25px;
            color: #424242;
        }

            .nav > li > a:hover {
                color: #ffffff;
            }

            .nav > li > a:visited, .nav > li > a:active {
                color: #ADB4AC;
            }

.title {
    display: inline-block;
    padding: 24.5px 60px;
    background: url(/images/logo-yellow-blue-50px.png) no-repeat;
    background-position: left center;
    width: 274px;
}

.links {
    width: 1000px;
    text-align: right;
}

footer {
}

    footer a:hover {
    }

    footer a:visited, footer a:active {
        color: #ADB4AC;
    }

    footer > .content > div {
        display: block;
    }

    footer .social-links {
        text-align: right;        
    }

.facebook-footer-link {
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 0;
    background: url('/images/f-logo-50px.png') no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.steam-footer-link {
    display: inline-block;
    height: 36px;
    padding: 0;
    background: url('https://steamcdn-a.akamaihd.net/store/about/icon-steamos.svg') no-repeat;
    background-size: contain;
    padding-left: 50px;
    color: #ADB4AC;
}

.group-footer-link {
    margin-right: 20px;
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 0;
    background: url('/images/group-50px.png') no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

a {
    color: #424242;
    text-decoration: none;
}

a:visited {
    color: #adb4c4;
}

.image-block {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    width: 968px;
}

.image-block-text {
    padding: 20px;
    background: #f5f5f5;
    color: #757575;
}

.article-header {
    position: relative;
    top: 150px;
    background: #181d3a;
    color: #adb4c4;
    padding: 50px 75px;
    margin: 300px auto 0 auto;
    width: 970px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.article-header h1 {
    margin: 0;
}

h1 {
    font-size: 39px;
}

.image-block img {
    width: 968px;
}

.in-article-image {
    width: 970px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.money-block {
    width: 950px;
    padding: 10px;
    background: #212D4B;
    border-radius: 5px;
    height: 200px;
    margin: 25px 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.article-list-item {
    display: block;
    background: #212D4B;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 150px;
    color: #ADB4AC;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    font-size: 14px;
    background-size: 321px;
    background-repeat: no-repeat;
    padding-left: 350px;
    cursor: pointer;
}

.article-list-item:hover {
    color: #efefef;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.75);
}

.article-list-item .article-cat {
    display: inline-block;
    margin-bottom: 5px;
}

.article-list-item .article-title {
    padding: 10px 0 5px;
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

.header-links {
    text-align: right;
}

a.origin-link {
    background: #f56c2d;
    display: inline-block;
    padding: 10px 50px;
    color: #ffffff;
    border-radius: 3px;
}

a.origin-link:hover {
    color: #424242;
}

.article-summary{
    padding: 20px 10px;
    background: #e5e5e5;
    border-radius: 3px;
}

.steam-curator-header {
    padding: 5px 5px 5px 80px;
    color: #757575;
    background-image: url('images/steam-logo-50px.png');
    background-position: left 10px  center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.steam-curator-header a,
.steam-curator-header a:hover {
    color: #ffffff;
}

.go-to-discussion {
    background-image: url('/images/ic_comment_black_48dp_2x.png');
    display: block;
    padding: 20px 10px 20px 90px;
    background-color: #e5e5e5;
    background-size: 40px;
    background-position: left 30px center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.head-paragraph {
    display: inline-block;
    margin-top: 30px;
}

.head-links {
    color: #adb4c4;
    display: block;
    background-color: #181d3a;
    height: 100%;
    border-radius: 5px;
}

.head-links > a {
    padding: 20px;
    display: inline-block;
    border-radius: 3px;
}

.head-links > a:hover {
    color: #ffffff;
}

.head-links > a:last-of-type{
    border-bottom: none;
}

.head-links .discussion {
    background-image: url('images/ic_comment_black_48dp_2x.png');
    background-position: left 15px center;
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 80px;
}

.head-links .author {
    background-image: url('images/baseline_account_circle_white_48dp.png');
    background-position: left center;
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 70px;
}

.head-links .game {
    background-image: url('https://steamcdn-a.akamaihd.net/store/about/icon-steamos.svg');
    background-position: left center;
    background-size: 42px;
    background-repeat: no-repeat;
    padding-left: 70px;
    margin-left: 50px;
}

.content-discussion-link {
    background: url('images/ic_comment_black_48dp_2x.png') no-repeat #d0d0d0;
    background-position: left 15px center;
    background-size: 50px;
    padding: 20px 80px;
    display: block;
    border-radius: 3px;
}

.content-discussion-link:hover{
    background-color: #e5e5e5;
}

.read-more {
    color: #07d1da;
    background-color: #28429b;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.read-more:hover {
    background-color: #2d6bcd;
}

@media (max-width: 1024px) {
    .nav {
        width: auto;
    }

    footer > .content {
        width: auto;
    }

    footer .social-links {
        margin-left: 50px;
        float: right;
    }

    .content {
        width: auto;
    }

    .index-highlight {
        margin-bottom: 30px;
    }
    .featured-content
    {
        text-align: center;
    }

    .featured-content > .content {
        width: auto;
    }

    .header {
        padding: 5px 50px;
    }
}

@media (max-width: 700px) {
    .featured-content .index-highlight {
        width: auto;
    }
}