html {
    background: #ffffff;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.4);
    margin-bottom: 5px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.75);
    color: #424242;
    font-size: 20px;
}

.body-content {
    padding: 0;
    margin: 0 auto;
}

.container {
    background: #ffffff;
}

.content {
    padding: 30px 0;
    margin: 0 auto;
    width: 1000px;
    font-size: 20px;
    color: #757575;
    line-height: 1.8;
    padding: 50px;
}

footer > .content {
    width: 1400px;
}

.featured-content {
    padding: 0;
    margin: 0 auto;
    background: #fafafa;
}

.featured-content > .content {
    padding: 50px 0;
    width: 1400px;
}

.featured-content .index-highlight {
    display: inline-block;
    width: 700px;
    height: 300px;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
    border-radius: 2px;
    vertical-align: top;
    
    background: #ffffff;
}

.featured-content .index-highlight a {
    padding-top: 204px;
    display: block;
}

.featured-content .index-highlight a span {
    background: rgba(255, 255, 255, 0.75);
    padding: 30px;
    display: block;
}

.featured-content .index-highlight-small {
    background: #ffffff;
    display: inline-block;
    width: 230px;
    height: 240px;
    float: none;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
    margin-left: 24px;
    border-radius: 2px;
    vertical-align: top;
    padding: 30px;
}
.featured-content .index-highlight-small a {
    padding-top: 150px;
    display: inline-block;
}

.featured-content .index-highlight-small:hover, .featured-content .index-highlight:hover {
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.11);
}

.nav {
    padding: 0;
    margin: 0 auto;
    width: 1400px;
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            padding: 19.5px 25px;
            color: #424242;
        }

            .nav > li > a:hover {
                color: #606060;
            }

            .nav > li > a:visited, .nav > li > a:active {
                color: #757575;
            }

.title {
    display: inline-block;
    padding: 24.5px 60px;
    background: url(images/logo-yellow-blue-50px.png) no-repeat;
    background-position: left center;
    width: 274px;
}

.links {
    width: 1000px;
    text-align: right;
}

footer {
    background: #EEEEEE;
}

    footer > a {
        color: #757575;
    }

    footer a:hover {
        color: #757575;
    }

    footer a:visited, footer a:active {
        color: #757575;
    }

    footer > .content > div {
        display: inline-block;
    }

    footer .social-links {
        margin-left: 968px;
    }

.facebook-footer-link {
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 0;
    background: url('images/f-logo-50px.png') no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.steam-footer-link {
    margin-right: 20px;
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 0;
    background: url('images/steam-logo-50px.png') no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.group-footer-link {
    margin-right: 20px;
    display: inline-block;
    height: 36px;
    width: 36px;
    padding: 0;
    background: url('images/group-50px.png') no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #424242;
}

a:visited {
    color: #757575;
}

.image-block {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    width: 998px;
}

.image-block-text {
    padding: 20px;
    background: #f5f5f5;
    color: #757575;
}

.article-header {
    background: #ffffff;
    color: #424242;
    padding: 50px 100px;
    margin: 622px auto 0 auto;
    width: 1000px;
    opacity: 0.75;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-size: 39px;
}

.image-block img {
    width: 998px;
}

.in-article-image {
    width: 998px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}

.adv-block {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    width: 998px;
}

.adv-content {
    background: #f5f5f5;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.adv-block-text {
    padding: 15px 20px;
    background: #f5f5f5;
    color: #757575;
}