html {
    background: #ffffff;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.4);
    margin-bottom: 5px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.5);
    color: #424242;
    font-size: 20px;
}

.body-content {
    padding: 0;
    margin: 0 auto;
}

.container {
    background: #ffffff;
}

.content {
    padding: 30px 0;
    margin: 0 auto;
    width: 1000px;
    font-size: 20px;
    color: #757575;
    line-height: 1.8;
    padding: 50px;
}

footer > .content {
    width: 1400px;
}

.featured-content {
    padding: 0;
    margin: 0 auto;
    background: #fafafa;
}

.nav {
    padding: 0;
    margin: 0 auto;
    width: 1400px;
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            padding: 19.5px 25px;
        }

            .nav > li > a:hover {
                background: #f5f5f5;
            }

.title {
    display: inline-block;
    padding: 24.5px 60px;
    background: url(images/logo-yellow-blue-50px.png) no-repeat;
    background-position: left center;
    width: 274px;
}

.links {
    width: 1000px;
    text-align: right;
}

footer {
    background: #EEEEEE;
}

a {
    text-decoration: none;
}

.header a:visited {
    color: #424242;
}

.image-block {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    width: 998px;
}

.image-block-text {
    padding: 20px;
    background: #f5f5f5;
    color: #757575;
}

.article-header {
    background: #ffffff;
    color: #424242;
    padding: 50px 100px;
    margin: 750px auto 0 auto;
    width: 1000px;
}

h1 {
    font-size: 39px;
}

.image-block img {
    width: 998px;
}

.in-article-image {
    width: 998px;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
}

.adv-block {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    width: 998px;
}

.adv-content {
    background: #757575;
    padding: 20px;
    border-bottom: 1px solid #fafafa;
}

.adv-block-text {
    padding: 15px 20px;
    background: #f5f5f5;
    color: #757575;
}